body{
  margin: 0%;
  padding: 0%;
}
.bod {
  box-shadow: 15px 15px #00FFFF;
  animation: spac 1s ease-in-out infinite;
}
@keyframes spac {
  0%{
    border: 2px solid #00FFFF;
    
  }
  50%{
    border: 2px solid #1fafafe4;
  }
  100%{
    border: 2px solid #049999d1;
  }
}

#mobileMenu{
  display: none;
}

.doc_upl{
  display: none;
}

.header{
  display: none;
}
.middle{
  display: none;
}
.feed{
  display: none;
}
.footer{
  display: none;
}
.main_contact{
  display: none;
}
.login_page{
  display: block;
}
.login{
  border: 2px solid #00FFFF ;
  animation: blink 2s ease-in-out infinite;
}
@keyframes blink {
  0%{
    border: 2px solid #00FFFF;
    
  }
  50%{
    border: 2px solid #1fafafe4;
  }
  100%{
    border: 2px solid #049999d1;
  }
}
.login button{
  
}
.proce{
  display: none;
}